@import "variables";
$estilos: (
    text-align: center,
    font-size: 30px,
    font-style: italic, 
);
@mixin sizes ($margin, $padding) {
    margin:$margin;
    padding:$padding;  
}
/*ESTRUCTURA COMPARTIDA*/
*{
    @include sizes(0%,0%);
    text: {
        decoration: none;
        shadow: none;
    }
    box-sizing: border-box;
}
#margin
{
    @include sizes(0%,0%); 
}
.titulo0{
    background: {
        image: url(../IMAGENES/fondotitulo.jpg);
        size:cover;
    }
    display: flex;   
    justify-content: center;
    align-items: center;  
}
.titulo{ 
    @extend .titulo0;
    background-image: none;
    color: $colorPrincipal;
    font-family: 'EB Garamond', serif;
    font-family: 'Philosopher', sans-serif;
    font-size: 80px; 
    letter-spacing: 7px;
    @include sizes(0%,0%);
    filter:alpha(opacity=0.9);
    -moz-opacity:0.9;
    opacity:0.9;
}  
.nav-item{ 
    background-color: $colorPrincipal;
    height: 54px;
    font-size: 20px;
    display: flex;   
    justify-content: center;
    align-items: center;  
    align-content: center; 
} 
.bloque{ 
    display: flex;
    align-items: center;  
    align-content: flex-start; 
    justify-content: center;
    text-align: center;  
}     
li{   
    font-family: 'Roboto Condensed', sans-serif;   
} 
.footer{
    display: flex;
    align-items: center;
    color: $colorSecundario;
    justify-content: center;
    font-size: 16px;  
    word-spacing: 3px;
    filter:alpha(opacity=0.8);
    -moz-opacity:0.8;
    opacity:0.8;
} 
/*INDEX*/
.seccion2{
    display: flex;
    align-items: center;
    height: 500px;
    color: $colorSecundario; 
    text-align:center;
    font-size: 30px; 
    font-style: italic;
    background-color: white;
    background: linear-gradient(to right, transparent, white 50%);
    background-image: url(../IMAGENES/imagenfondo1.jpg);
    background-size: cover;
}
.animate__animated{
    --animate-duration: 2s;
    animation-delay: 0.8s;
} 
.seccion3{
    display: flex;
    align-items: center;
    color: $colorPrincipal;
    text-align: center;
    font-size: 25px; 
    filter:alpha (opacity=0.7);
    background-color: $colorTerciario;
    padding: 15px;
    flex-direction: column;
    .texto{
        font-size: 0.8em;
    }  
}
.seccion4{ 
    display: flex;
    align-items: center;
    color: $colorPrincipal;
    text-align: center;
    font-size: 25px; 
    filter:alpha (opacity=0.7);
    background-color: $colorSecundario; 
    padding: 15px;
    flex-direction: column;
    .texto{
        font-size: 0.8em;
    }  
}
.seccion5{ 
    display: flex;
    align-items: center;
    color: $colorPrincipal;
    justify-content: center;
    background-color: $colorTerciario; 
    padding: 0px;  
}
#top{   
    animation-duration: 10s;
    animation-name: imagen;
    animation-iteration-count:infinite;   
    filter:alpha(opacity=0.8);
    -moz-opacity:0.8;
    opacity:0.8;          
}
@keyframes imagen {        
    20% {
    filter: hue-rotate(90deg);
    }
    60%{
    filter: hue-rotate(-0.25turn);
    }
    80%{
    filter: hue-rotate(3.142rad);;
    }
    100%{
    filter: hue-rotate(0);
    }       
}
.seccion6{
    display: flex;
    align-items: center;
    color: $colorPrincipal;
    text-align: center;
    font-size: 25px; 
    filter:alpha (opacity=0.7);
    background-color: $colorSecundario; 
    padding: 15px;
    flex-direction: column;
        .texto{
        font-size: 0.8em;
        } 
}    
/*PAGINA HISTORIA*/
.paginahistoria{
    justify-content: center;
    align-content: center;
}
.historia{
    display: flex;
    align-items: center;
    color: $colorPrincipal; 
    text-align: map-get($estilos,text-align);
    font-size: 22px;
    font-style: map-get($estilos,font-style);
    background-color: $colorTerciario;     
    flex-direction: column;
    padding: 15px;
    hr{
        height: 1.5px;
        width: 100%;
        background-color: #05030314;
    }
    .historiatexto1{
       font-size: 0.9em;
       filter:alpha(opacity=0.9);
        -moz-opacity:0.9;
        opacity:0.9;  
        --animate-duration: 1.2s;
        animation-delay: 0.2s;  
    }
    .historiatexto2{
        font-size: 0.9em;
        filter:alpha(opacity=0.9);
         -moz-opacity:0.9;
         opacity:0.9;  
         --animate-duration: 1.2s;
         animation-delay: 0.5s;  
    }
    .historiatexto3{
        font-size: 0.9em;
        filter:alpha(opacity=0.9);
         -moz-opacity:0.9;
         opacity:0.9;  
         --animate-duration: 1.2s;
         animation-delay: 0.8s; 
    }
}
.carousel-inner{
        .carousel-item img{
            object-fit: cover;
            align-items: center;
            width: 100%;
            height: 670px;
        }
 
}
/*PAGINA LA CANCHA*/
.paginalacancha{ 
    gap: 0px 0px;
    justify-content: center;
    align-content: center;
}
.lacancha{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorPrincipal; 
    text-align: center;
    font-size: 22px; 
    font-style: italic;
    background-color: $colorTerciario;
    padding: 20px;   
    height: 500px;
    flex-direction: column;
        hr{
        height: 1.5px;
        width: 100%;
        background-color: #05030314;
    }
        .lacanchatexto{
        filter:alpha(opacity=0.9);
        -moz-opacity:0.9;
        opacity:0.9;  
        --animate-duration: 1.2s;
        animation-delay: 0.2s;  
    }
        .lacanchatexto2{
        filter:alpha(opacity=0.9);
        -moz-opacity:0.9;
        opacity:0.9;  
        --animate-duration: 1.2s;
        animation-delay: 0.5s;  
    }
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px; 
    font-style: italic;
    padding: 20px;
    background-color: $colorSecundario;
    color: $colorPrincipal;
    row-gap: 15px;   
    height: 500px;
        h4{
        text-align: center;
        }
}   
/*PAGINA COMO LLEGAR*/
.paginacomollegar{
    justify-content: center;
    align-content: center;
}
.comollegar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $colorPrincipal; 
    text-align: map-get($estilos,text-align);
    font-size: map-get($estilos,font-size);
    font-style: map-get($estilos,font-style);
    background-color: $colorTerciario;
    padding: 20px;     
}
.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: {
        size: 30px; 
        style: italic;
    }
    padding: 20px;
    background-color: $colorSecundario;
    color: $colorPrincipal;
    row-gap: 15px;
}
.efecto{
    animation: {
        duration: 3s;
        name: texto;
        iteration-count:infinite;
        delay: 2s;  
    }     
    font: {
        size: 1.3em;
    }
    padding: 5%;
}  
@keyframes texto{
0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}
/*PAGINA CONTACTO*/
.paginacontacto{
    justify-content: center;
    align-content: center;
}
.contacto{
    display: flex;
    align-items: center;
    align-content:flex-start;
    justify-content: center;
    font-size: map-get($estilos,font-size);
    font-style: map-get($estilos,font-style);
    background-color: $colorSecundario;
    color: $colorPrincipal;
    row-gap: 15px;
    height: 520px;
}
.formulario{
    display: flex;
    color: $colorPrincipal;
    text-align:center;
    font-size: 18px; 
    width: 410px;
    height: 470px;
    font-style: italic;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 2px;
    margin-top: 20px;
}
#celdas
{   
    color: $colorSecundario;
    border-color: $colorPrincipal ;
    text-decoration: none;
    background-color:$colorPrincipal; 
        &:hover {
            background-color:whitesmoke;
            color:$colorSecundario ;
    }
    box-shadow: none;
   
} 
#boton{      
    color: $colorPrincipal;
    text-decoration: none;
    background-color:$colorSecundario; 
    border-color:$colorPrincipal ;
        &:hover {
            background-color:whitesmoke;
            color:$colorSecundario ;
        }
    box-shadow: none;
} 
@media only screen and (max-width: 1000px) 
{
/*ESTRUCTURA COMPARTIDA*/
.titulo{
    font-size: 40px; 
} 
.nav{ 
    font-size: 13px;
    height: 45px;
} 
.nav-item{ 
    height: 30px;
    font-size: 16px;
} 
li{
    margin: 1px;     
}   
.footer{
    font-size: 10px; 
}
/*INDEX*/
.seccion2{
    font-size: 17px; 
    height: 250px;              
}   
.seccion3{
    font-size: 20px; 
}
.seccion4{
    font-size: 20px; 
}
.seccion5{
    font-size: 20px;
}     
.seccion6{
    font-size: 20px; 
}     
/*PAGINA LA CANCHA*/
.youtube{
    width: 65%;
    height: 40%;
} 
.lacancha{
    font-size: 18px; 
        h4{
        font-size: 20px;
        } 
}
.video h4{
    font-size: 20px;
} 
/*PAGINA HISTORIA*/
.historia{
    font-size: 20px;      
}    
/*PAGINA COMO LLEGAR*/
.comollegar{
    font-size: 20px;       
}
.gmap{
    width: 100%;
    height: 100%;
} 
/*PAGINA CONTACTO*/
.formulario{  
    width: 400px;
    height: 450px;
    text-decoration: none;
}  
.contacto{
    height: 500px;
}
} 
@media only screen and (max-width: 575px) {
/*ESTRUCTURA COMPARTIDA*/
.titulo{
    font-size: 25px; 
    height: 60px;
} 
.nav{ 
    display: flex;
    flex-direction: column-reverse;
    height: 30px;
    font-size: 11px;
    align-content:space-between;
    align-items: left;
    justify-content:flex-start;
    background-color: transparent;
}    
.nav-item{ 
    height: 30px;
    font-size: 20px;
    display: flex;   
    justify-content:flex-start;
    align-items: left;  
    align-content:flex-start; 
} 
.bloque{ 
    display: flex;
    align-items:flex-start;  
    align-content: flex-start; 
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}  
.footer{
    font-size: 8px; 
    padding: 5px;
    text-align: center;
}
/*INDEX*/
.seccion2{
    font-size: 13px; 
    display: flex;
    margin:0%;
    align-items:center;
    align-content: space-around;  
    height: 215px;
}   
/*PAGINA LA CANCHA*/
.paginalacancha{ 
    gap: 0px 0px;  
}    
.lacancha{ 
    font-size: 17px; 
    height: 500px;    
}      
.video {
    height: 400px; 
}    
.youtube{
    width: 80%;
    height: 60%;   
} 
/*PAGINA HISTORIA*/
.historia{
    font-size: 16px; 
}  
.carousel-inner{
    .carousel-item img{
        object-fit: cover;
        align-items: center;
        width: 100%;
        height: 300px;
    }
}
/*PAGINA COMO LLEGAR*/
/*PAGINA CONTACTO*/
.contacto{           
    font-size: 30px; 
}
.formulario{        
    font-size: 20px; 
    width: 308px;
    height: 450px;
    margin: { 
        top: 30px;
        bottom: 50px;     
    }  
        h2{
        font-size: 26px;
        } 
}      
label{          
    margin: 8px;
    align-items: center;     
} 
@media only screen and (max-width: 430px) {
    .seccion2{
        font-size: 0px;
    }

}  
@media only screen and (max-width: 410px) {
    .titulo{
        font-size: 16px; 
    } 
    .lacancha{ 
        font-size: 15px;     
    }       
}
}