*{
margin: 0%;
padding: 0%;
text-decoration: none;
text-shadow: none;
box-sizing: border-box;
}
#margin
{
margin: 0%;
padding: 0%;

}
.titulo0{
    background-image: url(../IMAGENES/fondotitulo.jpg);
    display: flex;   
    justify-content: center;
    align-items: center;  
}
.titulo{ 
    color: #F0F0D8;
    font-family: 'EB Garamond', serif;
    font-family: 'Philosopher', sans-serif;
    font-size: 80px; 
    letter-spacing: 7px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}  
.nav-item{ 
    background-color: #F0F0D8;
    height: 54px;
    font-size: 20px;
    display: flex;   
    justify-content: center;
    align-items: center;  
    align-content: center; 
} 
.bloque{ 
    display: flex;
    align-items: center;  
    align-content: flex-start; 
    justify-content: center;
    text-align: center;  
}  

li{   
    font-family: 'Roboto Condensed', sans-serif; 
    
}
/* Formato sin bootstrap
.nav-link{
    color: whitesmoke;
}
.nav-link:hover
{ 
    color: #C0D860;
} 
.active{ 
    color: #C0D860;
}  
*/
.animate__animated{
    --animate-duration: 2s;
    animation-delay: 0.8s;
} 
.seccion2{
    display: flex;
    align-items: center;
    height: 500px;
    color: #604848; 
    text-align:center;
    font-size: 30px; 
    font-style: italic;
    background-color: white;
    background: linear-gradient(to right, transparent, white 50%);
    background-image: url(../IMAGENES/imagenfondo1.jpg);
    background-size: 100%;
}
.seccion3{
    display: flex;
    align-items: center;
    color: #F0F0D8;
    text-align: center;
    font-size: 25px; 
    filter:alpha (opacity=0.7);
    background-color: #607848;
    padding: 15px;
}
.seccion4{ 
    display: flex;
    align-items: center;
    color: #F0F0D8;
    text-align: center;
    font-size: 25px; 
    filter:alpha (opacity=0.7);
    background-color: #604848; 
    padding: 15px;
}
.seccion5{ 
    display: flex;
    align-items: center;
    color: #F0F0D8;
    justify-content: center;
    filter:alpha (opacity=0.7);
    background-color: #607848; 
}
.top{   
    width: 50%;
    height: 30%;  
    animation-duration: 10s;
    animation-name: imagen;
    animation-iteration-count:infinite;
    
     
}

@keyframes imagen {
    
    20% {
        filter: hue-rotate(90deg);
    }
    60%{
        filter: hue-rotate(-0.25turn);
    }
    80% {
        filter: hue-rotate(3.142rad);;
    }
    100% {
    filter: hue-rotate(0);
}


}
.seccion6{
    display: flex;
    align-items: center;
    color: #F0F0D8;
    text-align: center;
    font-size: 25px; 
    filter:alpha (opacity=0.7);
    background-color: #604848; 
    padding: 15px;
}
.footer{
    display: flex;
    align-items: center;
    color: #604848;
    justify-content: center;
    font-size: 16px;  
    word-spacing: 3px;
    filter:alpha(opacity=0.8);
    -moz-opacity:0.8;
    opacity:0.8;
}
.paginalacancha{ 
    gap: 0px 0px;
    justify-content: center;
    align-content: center;
}
.lacancha{
    display: flex;
    align-items: center;
    color: #F0F0D8; 
    text-align: center;
    font-size: 25px; 
    font-style: italic;
    background-color: #607848;
    padding: 20px;   
    height: 500px;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px; 
    font-style: italic;
    padding: 20px;
    background-color: #604848;
    color: #F0F0D8;
    row-gap: 15px;   
    height: 500px;
}
h4 {
    text-align: center;
}   
.paginahistoria{
    justify-content: center;
    align-content: center;
}
.historia{
    display: flex;
    align-items: center;
    color: #F0F0D8; 
    text-align: center;
    font-size: 30px; 
    font-style: italic;
    background-color: #607848;
    padding: 60px;    
}
.paginacomollegar{
    justify-content: center;
    align-content: center;
}
.comollegar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #F0F0D8; 
    text-align: center;
    font-size: 30px; 
    font-style: italic;
    background-color: #607848;
    padding: 20px;     
}
.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px; 
    font-style: italic;
    padding: 20px;
    background-color: #604848;
    color: #F0F0D8;
    row-gap: 15px;
}

.efecto{
    animation-duration: 3s;
    animation-name: texto;
    animation-iteration-count:infinite;
    animation-delay: 2s;
     
}

@keyframes texto {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.paginacontacto{
    justify-content: center;
    align-content: center;
}
.contacto{
    display: flex;
    align-items: center;
    align-content:flex-start;
    justify-content: center;
    font-size: 30px; 
    font-style: italic;
    background-color: #604848;
    color: #F0F0D8;
    row-gap: 15px;
    height:675px ;
}
.formulario{
    display: flex;
    color: #F0F0D8;
    text-align:center;
    font-size: 20px; 
    width: 410px;
    height: 470px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-style: italic;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 5px;
}  
label{
    
    margin: 15px;
} 

@media only screen and (max-width: 1000px) 
{
    .titulo{
        font-size: 40px; 
    } 
    .nav{ 
        font-size: 14px;
        height: 45px;
    } 
    .nav-item{ 
        background-color: #F0F0D8;
        height: 30px;
        font-size: 14px;
        display: flex;   
        justify-content: center;
        align-items: center;  
        align-content: center; 
    } 
    li{
        margin: 1px;   
    } 
    .top{   
        width: 50%;
        height: 30%;  
    }         
    .seccion2{
        font-size: 17px; 
        height: 250px;              
    }   
    .seccion3{
        font-size: 15px; 
    }
    .seccion4{
        font-size: 15px; 
    }
    .seccion5{
        font-size: 15px;
    }
    .seccion6{
        font-size: 15px; 
    }
    .footer{
        font-size: 10px; 
    }
    .youtube{
        width: 65%;
        height: 40%;
    } 
    .lacancha{
        font-size: 20px; 
    }
    h4{
        font-size: 13px;
    } 
    .paginalacancha{
        gap: 0px 0px;      
    }
    .historia{
        font-size: 25px; 
    }  
    .comollegar{
        font-size: 20px;       
    }
    .gmap{
        width: 75%;
        height: 75%;
    } 
    .formulario{  
        font-size: 20px; 
        width: 400px;
        height: 450px;
        margin-top: 20px;
        margin-bottom: 50px;
        font-style: italic;
        justify-content: center; 
        text-decoration: none;
    }  
    
} 
@media only screen and (max-width: 575px) {
    .titulo{
        font-size: 15px; 
        height: 60px;
    } 
    .nav{ 
        display: flex;
        flex-direction: column-reverse;
        height: 30px;
        font-size: 11px;
        align-content:space-between;
        align-items: left;
        justify-content:flex-start;
        background-color: transparent;

    }    
    .nav-item{ 
        background-color: #F0F0D8;
        height: 20px;
        font-size: 12px;
        display: flex;   
        justify-content:flex-start;
        align-items: left;  
        align-content:flex-start; 
    } 

    .bloque{ 
        display: flex;
        align-items:flex-start;  
        align-content: flex-start; 
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }  
    .seccion2{
        font-size: 10px; 
        display: flex;
        margin:0%;
        align-items:center;
        color: #604848; 
        height: 175px;
        align-content: flex-end;  
    }   
    .seccion3{
        font-size: 15px; 
    }
    .seccion4{
        font-size: 15px; 
    }
    .seccion5{
        font-size: 15px; 
    }
    .top{      
        width:30%;
        height: 95%;
    }
    .seccion6{
        font-size: 15px; 
    }
    .footer{
        font-size: 8px; 
        padding: 5px;
        text-align: center;
    }
    .paginalacancha{ 
        gap: 0px 0px;  
    }    
    .lacancha{ 
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 12px; 
        padding: 20px; 
        height: 300px;    
    }      
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 25px; 
        font-style: italic;
        padding: 20px;
        row-gap: 15px;
        height: 300px; 
    }    
    .youtube{
        width: 80%;
        height: 60%;   
    
    } 
    .historia{
        font-size: 16px; 
    }  
    .paginacomollegar{
        justify-content: center;
        align-content: center;
    }
    .contacto{           
        font-size: 30px; 
    

    }
    .formulario{        
        font-size: 20px; 
        width: 308px;
        height: 450px;
        margin-top: 20px;
        margin-bottom: 50px;
        font-style: italic;          
    }      
    label{          
        margin: 8px;
        align-items: center;     
    } 
}